@font-face {
    font-family: 'Ticketing';
        src: url('fonts/Ticketing.ttf');
        src: url('fonts/Ticketing.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: lightblue;
    color: #313638;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Ticketing;
}

main {
    padding: 60px;
    background-color: #fffbf9;
    box-shadow: 0px 5px 16px 4px rgba(50, 50, 50, 0.08);
    border-radius: 30px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    max-width: 800px;
}

.left-side {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.right-side {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: end;
}

h1 {
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#buddy-selector {
    width: 100%;
    max-width: 200px;
    max-height: 30px;
    margin-bottom: 10px;
}

.instructions {
    text-align: left;
}

.image-container {
    width: 100%
}

#selected-buddy {
    max-width: 300px;
}

#buddy-message {
    text-align: left;
    padding: 50px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px;
    flex: 1;
}

.icons button {
    max-width: 60px;
    max-height: 60px;
    border: transparent;
    border-radius: 50%;
    margin: 0 10px;
}

.icons p {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}

button {
    max-width: 100px;
    max-height: 100px;
    border: transparent;
    border-radius: 100px;
}

#breakdown-button {
    background-color: #729ea1;
}

#sad-button {
    background-color: #b5bd89;
}

#chill-button {
    background-color: #fbd87f;
}

#happy-button {
    background-color: #ec9192;
}