body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 40px;
    background-color: #fffbf9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 70%;
    max-width: 800px;
}

#selected-buddy {
    max-width: 300px;
}

button {
    max-width: 100px;
    max-height: 100px;
    border: transparent;
    border-radius: 60px;
}

#breakdown-button {
    background-color: #729ea1;
}

#sad-button {
    background-color: #b5bd89;
}

#chill-button {
    background-color: #fbd87f;
}

#happy-button {
    background-color: #ec9192;
}

button:hover {
    color: pink;
}